#allContent{
    font: 18px 'Comic Sans MS', Gabriela, serif;
    width: 100%;
}

.blueText{
    color: #096678;
}

.RedText{
    color: #EC145B;
}

hr{
    height: 1px;
    border: none;
    background-color: #EC145B;
}

.floatbox{
    display:            inline-block;
    vertical-align:     top;
}

textarea{
    margin-bottom: 0;
}

.justText{
    font-size: 11px;
    font-family: 'Comic Sans MS', Gabriela, serif;
    margin: 0;
}
/*------------------------------sidebar-------------------------------*/
#sidebar{
    width: 30%;
    height: 1680px;
    background-color: #136C7C;
    display: inline-block;
}

#list{
    width: 217px;
    font-size: 17px;
    height: 1640px;
    float: right;
    background-color: #398592;
    padding: 20px; 
}

#list p{
    padding-left: 10px;
}

#list p.listTab{
    padding-left: 30px;
}

#list p.listDoubleTab{
    padding-left: 60px;
}

#list a{
    color:black;
    text-decoration: none;
    line-height: 34px;
}

#list p:hover{
    background-image: url(images/romb2.png);
}

#list form{
    height: 34px;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    margin-top: 50px;
}

#list input{
    font-size: 17px;
    line-height: 26px;
    width: 160px;
    margin-left: 40px;
    border: none;
    vertical-align: -2px;
}
/*---------------------------------content-------------------------*/
#content{
    width: 723px;
    height: 858px;
    margin-left: 20px;
}

h1{
    margin: 0 30px;
}

h1 i{
    margin-right: 20px;
}

#logo{
    width: 100%;
    background-image: url(images/Saver.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#logo hr{
    width: 330px;
}

#logo img{
    margin: 0 5px;
}

#logo p, #logo a{
    text-align: right;
    text-decoration: none;
    margin: 0 20px;
}

/*------------------------------TAB----------------------------*/
div.tableRow {
display: table-row;
}

input, textarea, select{
    border-radius: 5px;
}

div.tableRow div {
display: table-cell;
vertical-align: top;
padding: 3px;
}

div.tableRow div:first-child {
text-align: right;
}

div.tab {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: white;
    height: 1410px;
}

div.tab button {
    background-color:  #E2F0F1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 120px;
    font-size: 14px;
    font-family:Neucha,'Comic Sans MS', Gabriela, serif;
}

div.tab button:hover {
    background-color: #C6E1E6;
}

div.tab button.active {
    background-color: #C6E1E6;
}

.tabcontent {
    margin-top: 47px;
    display: none;
    border: 4px solid #C6E1E6;
    height: 1350px;
    width: 712px;
}

#underTab{
    height: 140px;
    background-image: url("images/Arca.png");
    background-repeat: no-repeat;
    margin: 0;
    text-align: right;
    padding-right: 10px;
    padding-top: 50px;
}

#underTab a{
    vertical-align: 25px;
    font-size: 20px;
    color: #345D66;
    text-decoration: none;
}
/*---------------------------------TAB1---------------------------*/

.tab form{
    padding: 2% 0 0 3%;
    width: 530px;
}

.DataLeft{
    vertical-align: top;
    display: inline-block;
    width: 150px;
    color: black;
    text-align: right;
}

.text{
    text-align: right;
}

p#text1{
    padding-top: 15%;
}

p#text2{
    padding-top: 16%;
}

p#text3{
    padding-top: 21%;
}

p#text4{
    padding-top: 18%;
}

p#text5{
    padding-top: 140%;
}

p#text6{
    padding-top: 120%;
}

p input{
    border-radius: 10px;
    height: 32px;
    font-size: 20px;
    padding: 5px;
    font-family:Neucha,'Comic Sans MS', Gabriela, serif;
}

.DataRight {
    width: 540px;
}

.DataRight p{
    margin-bottom: 0;
}

.DataRight p input[type=text]{
    width: 20em;
}

.DataRight p a{
    color: #2F7C88;
    margin: 0 0px;
    padding-left: 10px;
    padding-right: 20px;
    width: 200px;
    font-size: 23px;
}

.DataRight p a:hover{
    background-image: url("images/Days.png");
    background-repeat: no-repeat;
    color: black;
    text-decoration: none;
}

form input[type=number]{
    width: 5em;
}

.innerList{
    list-style-type: none;
    float: left;
    width: 140px;
    font-size: 14px;
    color: #2F7C88;
    margin-bottom: 10px;
}

.DataRight ul li button {
    width: 5px;
    height: 5px;
    border-radius: 30%;
    padding: 6px 6px;
    vertical-align: bottom;
    margin-right: 6px;
    margin-top: 4px;
    border: 1px solid black;
}

.DataRight ul{
    padding-left: 0;
}

.DataRight span a{
    color: #2F7C88;
}

.blueDiv{
    background-color: #C6E1E6;
    width: 320px;
    height: 100px;
    border: 1px dashed blue;
    clear: both;
    margin-top: 50px;
    text-align: center;
    padding: 50px 30px 0px 30px;
    font-size: 14px;
}

#firstBlueDiv{
    margin-top: 100px;
}

pre{
    font-size: 10px;
    margin: 0;
}
pre a{
    color: #2F7C88;
    text-decoration: none;
}

.rightButton{
    height: 46px;
    background-image: url("images/RightArrow.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 50px;
    padding-top: 8px;
}

.rightButton a{
    font-size: 18px;
    color: white;
    margin-left: 35%;
    text-decoration: none;
}

/*------------------------------TAB2--------------------------*/
p#text21{
    padding-top: 12%;
}

p#text22{
    padding-top: 50%;
}

p#text23{
    padding-top: 85%;
}

p#text24{
    padding-top: 100%;
}

p#text25{
    padding-top: 120%;
}


textarea{
    margin-top: 30px;
    border-style: inset;
    border-width: 2px;
    border-color: #989898;
}

.DataRight p input{
    background-repeat: no-repeat;
    background-position: left center;
}

.DataRight p input[name=twitter]{
    background-image: url(images/formIcon/Twitter.png);
}

.DataRight p input[name=facebook]{
    background-image: url(images/formIcon/Facebook.png);
}

.DataRight p input[name=google]{
    background-image: url(images/formIcon/Google.png);
}

.DataRight p input[name=youtube]{
    background-image: url(images/formIcon/YouTube.png);
}

.DataRight p input[name=in]{
    background-image: url(images/formIcon/In.png);
}
/*------------------------------TAB3--------------------------*/
.DataRight span{
    margin-left: 40px;
}

.rightPre{
    text-align: right;
}

select{
    margin-top: 30px;
    border-radius: 10px;
    height: 32px;
    font-size: 20px;
    font-family:Neucha,'Comic Sans MS', Gabriela, serif;
}

#delete{
    margin-left: 130px;
    color: red;
    text-decoration: none;
    font-size: 90%;
}

#delete img{
    vertical-align: -5px;
}

.tabcontent hr{
    background-color: #096678;
    width: 650px;
}

.center{
    margin: 30px auto; 
}

p#text31{
    padding-top: 17%;
}

p#text32{
    padding-top: 10%;
}

p#text33{
    padding-top: 20%;
}

p#text34{
    padding-top: 85%;
}

p#text35{
    padding-top: 97%;
}
/*------------------------------TAB4--------------------------*/
.tab4 h2, .tab4 input {
    margin-left: 100px;
}
/*------------------------------TAB5--------------------------*/
.tab5 .rightButton{
    background-image: url(images/blueButton.png);
}

.tab5 .rightButton a{
    margin-left: 315px;
}

p#text41{
    padding-top: 20%;
}

p#text42{
    padding-top: 8%;
}

p#text43{
    padding-top: 15%;
}

p#text44{
    padding-top: 15%;
}

p#text45{
    padding-top: 15%;
}

p#text46{
    padding-top: 15%;
}
/*-----------------------footer------------------*/

#footerup{
    background-color: #31AFC6;
    height: 		  200px;
}

#footer table{
    width:        1000px;
    text-align:   left;
    margin-left:  auto;
    margin-right: auto;
}

#footer table td{
    line-height: 100px;
    font-size:   150%;
}

#footer table td a{
    text-decoration: none;
    color:           #292829;
}

#footermiddle{
    background-image: url(images/128-178.jpg);
    height: 		  80px;
    padding-top:      20px;
}

#footermiddle form{
    width:        1000px;
    margin-left:   12%;
    color:        #80C1CD;
    font-style:   italic;
    font-size:    110%;
    text-align:   left;
    margin-left:  auto;
    margin-right: auto;
}

#footermiddle form img{
    padding-right: 20px;
}

#footermiddle form input[type=email]{
    background-color: #95D9E6;
    font-style:       italic;
    font-size:        100%;
    font-family:      'Comic Sans MS', 'Gabriela', serif;
    padding-left:     10px;
    border:           none;
    border-radius:    15px;
    line-height:      40px;
    margin:           0;
    margin-left:      20px;
    margin-right:     50px;
    width: 220px;
}

#footermiddle i{
    vertical-align: -5px;
    color: #95D9E6;
}

#footermiddle i:hover{
    color: yellow;
}

#footerdown{
    background-color: #052E34;
    height: 		  70px;
    color:            #31AFC6;
    padding-top:      30px;
}

#footerdown p{
    width:            1000px;
    font-size:        147%;
    margin:           auto;
}

.f1{
    margin-right:    50px;
}
