body{
    font-size:           12px;
	font-family:         'Comic Sans MS', Gabriela, serif;
	color:               #666667;
}

body div#header{
    background-image:    url(images/Screenshot_2.png);
    background-position: center;
    background-repeat:   no-repeat;
    height:              866px;
    width:               100%;
    margin:              0;
}

.redText{
    color:              #CC0000;
	font-size:          120%;
    margin:             0;
}

.blueTitle{
	font-size:          330%;
	margin:             5px;
	text-align:         center;
	color:              #086778;
    font-weight:        normal;
}

.blueText{
	color:              #086778;
}


body hr{
    height: 1px;
    border: none;
    background-color:  #086778;
}

h2{
    font-weight: normal;
    font-size: 180%;
}

/*-----------------------------------------Left Header----------------------------------*/
#header #leftHeader{
    height:             100%;
	width:              33%;
	background-image: url(images/Fon.png);
	padding-right:      4%;
    min-width:          500px;
    padding: 0;
}

#leftHeader #leftHeaderContent{
    height:             100%;
    width:              350px;
    float:              right;
    margin:             0;
}

#leftHeader #stat img{
    margin-top:         10px;
}

.whiteText{
    color: white;
}

#leftHeaderContent h1{
    margin-top:         50px;
    color:              yellow;
    font-size:          300%;
    font-weight:        normal;
    text-align:         center;
    line-height:        40px;  
}

#leftHeaderContent h1 img{
    vertical-align:     -10px;
}

#yellowLogo{
    width:              300px;
    margin-left:        30px;
}

#leftHeaderContent #yellowLogo hr{
    width:              100px;
    background-color:   yellow;
    vertical-align:     0px;
    margin:             0 10px;
    height:             1px;
}

#leftHeaderContent #yellowLogo img{
    width:              15px;
    margin:             auto 10px;
}

#leftHeaderContent .yellowText{
    color: yellow;
    text-align: center;
}

#leftHeaderContent p.whiteText{
    color: white;
    text-align: center;
    font-size: 170%;
}

#leftHeaderContent #stat{
    text-align: left;
    margin-left: 40px;
    font-size: 130%;
}

#leftHeaderContent #stat img{
    vertical-align: -17px;
    margin-right: 15px;
}

#leftHeaderContent #stat span{
    font-size: 130%;
    margin-right: 5px;
}

#leftHeaderContent #yellowButton{
    width: 209px;
    height: 44px;
    background-image: url(images/Yellowbutton.png);
    margin-left: 100px;
    padding: 0;
}

#leftHeaderContent #yellowButton a{
    text-decoration: none;
    font-size: 200%;
    margin-left: 12px;
}

#leftHeaderContent #yellowButton a:hover{
    color: white;
}

 #leftHeaderContent form{
	text-align: center;
	margin-top:70px;
}

#leftHeaderContent button{
    margin-left: 15px;
    cursor: pointer;
}

form .middleButton{
	padding: 10px 10px;
	border-radius: 50%;
	background-color: #9CB7BC;
	border: 2px solid #12353E;
}

#buttonLeft{
	background: url(images/arrowLeft.png) no-repeat top left;
	padding: 15px 15px;
	border: none;
}

#buttonRight{
	background: url(images/arrowRight.png) no-repeat top right;
	padding: 15px 15px;
	border: none;
}

form button:hover{
	background-color: yellow;
}

#leftHeaderContent #mediaLinks {
    text-align: center;
}

#leftHeaderContent #mediaLinks i{
    color: #A8C2C1;
    margin: 50px 0 0 5px;
}

#leftHeaderContent #mediaLinks i:hover{
    color: yellow;
}

#leftHeaderContent hr{
    background-color: whitesmoke;
    width: 240px;
}

#leftHeaderContent footer{
    text-align: center;
    margin-top: 20px;
}
/*------------------------------Right Header-------------------------------*/
#header #rightHeader{
    background-color:   #F2F6FF;
	width:              500px;
	height:             250px;
    margin:             30px 0 0 5%;
    padding:            30px;
}


.floatbox{
    display:            inline-block;
    vertical-align:     top;
}

#rightHeader hr{
    margin:             10px 0; 
    color:              #086778;
}

#rightHeader article{
    margin:             10px 0; 
}

.statistic{
    background-repeat:  no-repeat;
    background-position:left bottom;
    height:             60px;
    font-size:          10px;
    vertical-align:     top;
    display:            inline-block;
    margin:             25px 0 0 10px;
}

.statistic .Progress{
    width:              40px;
    background-color:   #CC0000;
    margin-left:        45px;
    margin-top:         25px;
    vertical-align:     top;
}

.statistic .Progress .Bar{
    width:              50%;
    background-color:   #4CAF50;
    height:             5px;
}

.statistic .smallText{
    font-weight:        bold;
    margin:             0 0 0 12px;
}

.statistic .redText{
    font-size:          160%;
    text-align:         right;
    margin:             0 0 15px 0;
    padding:            0;
    line-height:        14px;
}

.statistic,#finance{
    background-image:   url(images/peopleIcon.png);
    width:              73px;
    display:            inline-block;
}

.statistic,#amountOfMoney{
    background-image:   url(images/grivnaIcon.png);
    width:              87px;
    display:            inline-block;
    padding-bottom:     0;
}


.statistic,#timeleft{
    background-image:   url(images/dataIcon.png);
    width:              100px;
    display:            inline-block;
}

#rightHeader #fondButton {
    background-image:   url(images/blueButton.png);
    width:              184px;
    display:            inline-block;
    text-align:         center;
    font-size:          200%;           
}

#rightHeader #fondButton a{
    text-decoration:    none;
    color:              white;
    vertical-align:     -20px;
}

#rightHeader #fondButton a:hover{
    color:              yellow;
}
/*---------------------------------Map----------------------------*/

#Map{
    width: 100%;
    height: 520px;
    background-image: url(images/map1.png);
    padding-top: 20px;
}

#Map div{
    width: 1000px;
    margin: auto;
}

#Map h2{
    font-weight: normal;
}

#Map h2 img{
    vertical-align: -6px;
}

#Map hr{
    width: 470px;
    margin-bottom: 20px;
}

#Map p{
    width: 200px;
    font-size: 150%;
}

/*-----------------------------content----------------------------*/
#content{
    width: 1200px;
    margin: auto;
}

#content a:hover{
    color: red;
}

h2 img{
    vertical-align: -6px;
}

#content hr{
    background-color: red;
}

#content #list .floatbox{
    font-size: 180%;
    margin: 10px 0 10px 0;
}

#content #list .floatbox a,#content #list .floatbox span {
    margin-left: 40px; 
}

#content .inner div.floatbox{
    width: 558px;
    padding: 10px;
    background-color: #EFEFEF;
    margin: 10px;
}

#content .inner img{
    width: 550px;
    height: 330px;
    margin-left: 4px;
}

.inner .blueTitle{
    font-size: 20px;
}

#content .inner .floatbox p.floatbox{
    width: 150px;
    margin-top: 55px;
    font-size: 150%;
    border-right: 1px solid;
}
 
#content .inner .floatbox hr{
    background-color: #086778;
}

#content .inner .floatbox div.floatbox{
    width: 300px;
}

#aboutUs{
    margin-top: 30px;
    font-size: 130%;
}

#aboutUs a{
    font-size: 110%;
    margin: 0 100px 0 30px;
}

#aboutUs .floatbox h2, #aboutUs .floatbox span{
    margin:10px 0 0 20px;
}

#aboutUs #Amur{
    border-right: 10px solid #B3D1D9;
}

#aboutUs ul{
    margin: 0 0 0 90px;
}

#Success h2{
    margin: 40px;
}

#Success a{
    font-size: 18px;
    margin-right: 40px;
    margin-left: 30px;
}

#Success #lastContent{
    background-color: #EFEFEF;
    padding: 10px;
}

#lastContent img.floatbox{
    width: 450px;
    height: 225px;
}
#lastContent div.floatbox{
    width: 700px;
    padding-left: 10px;
}

#lastContent .floatbox h2{
    margin: 0;
}

#lastContent .floatbox .BigText{
    font-size: 120%;
}

#lastContent .floatbox .floatbox em{
    vertical-align: -40px;
    font-size: 200%;
    margin-left: 50px;
}

#lastContent .floatbox #stat{
    width: 300px;
    margin-left: 100px;
}

#Success p.blueText{
    height: 100px;
    font-size: 200%;
    text-align: right;
    background-image: url(images/article-emblem-main.png);
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-top: 30px;
}

#Success p.blueText a{
    vertical-align: 25px;
    margin-right: 15px;
    text-decoration: none;
}
/*-----------------------------footer-----------------------------*/
#footerdown img,#footermiddle form img{
    vertical-align: -5px;
}

#footerup{
    background-color: #31AFC6;
    height: 		  200px;
}

#footer table{
    width:        1000px;
    text-align:   left;
    margin-left:  auto;
    margin-right: auto;
}

#footer table td{
    line-height: 100px;
    font-size:   150%;
}

#footer table td a{
    text-decoration: none;
    color:           #292829;
}

#footermiddle{
    background-image: url(images/128-178.jpg);
    height: 		  70px;
    padding-top:      20px;
}

#footermiddle form{
	height:       40px;
    width:        1000px;
    margin-left:  auto;
    margin-right: auto;
    color:        #80C1CD;
    font-style:   italic;
    font-size:    150%;
    text-align:   left;
}

#footermiddle form img{
    padding-right: 20px;
}

#footermiddle form input[type=email]{
    background-color: #95D9E6;
    font-style:       italic;
    font-size:        100%;
    font-family:      'Comic Sans MS', 'Gabriela', serif;
    padding-left:     10px;
    border:           none;
    border-radius:    15px;
    margin:           0;
    margin-left:      20px;
    margin-right:     50px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#footermiddle i{
    vertical-align: -5px;
    color: #95D9E6;
}

#footermiddle i:hover{
    color: yellow;
}

#footerdown{
    background-color: #052E34;
    height: 		  70px;
    color:            #31AFC6;
    padding-top:      30px;
}

#footerdown p{
    width:            1000px;
    font-size:        190%;
    margin:           auto;

}

.f1{
    margin-right:    50px;
}
